<div class="page" data-name="settings">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="title">Market</div>
            <div class="right" style="font-weight: bolder;"><i class="icon f7-icons">rhombus_fill</i> 3788 <span class="if-md">&nbsp;&nbsp;&nbsp;</span></div>
        </div>
    </div>
    <div class="page-content">
        <div style="height: 140px" class="card card-expandable">
            <div class="card-content">
                <div style="background-color:#F7A51E;height: 140px">
                    <div class="card-header text-color-white display-block">
                        Quanrantine Rewards!
                        <br>
                        <small style="opacity: 0.7"><a class="card-prevent-open" href="/about/"><span style="zoom:1.3;color:#F7A51E;font-weight: bold" class="badge color-white">Check the list</span></a></small>
                    </div>
                    <a href="#" class="link card-close card-opened-fade-in color-white" style="position: absolute; right: 15px; top: 15px">
                        <i class="icon f7-icons">xmark_circle_fill</i>
                    </a>
                </div>
                <div class="card-content-padding">
                    <p>List goes here!</p>
                </div>
            </div>
        </div>
    <div class="block-title">Items</div>
        <div class="card-gift card-prevent-open card-outline no-shadow card card-expandable">
            <div class="card-content">
                <div style="background-color:#EFEFF4;height: 140px">
                    <div style="color:var(--f7-block-title-text-color) !important;" class="card-prevent-open card-header text-color-white display-block">
                        A Movie...
                        <br>
                        <small style="color:var(--f7-block-title-text-color);opacity: 0.7">Of your choice!</small>
                    </div>
                    <a href="#" class="link card-close card-opened-fade-in color-white" style="position: absolute; right: 15px; top: 15px">
                        <i class="icon f7-icons">xmark_circle_fill</i>
                    </a>
                </div>
                <div class="card-content-padding">
                    <p>List goes here!</p>
                </div>
            </div>
        </div>
         <div  class="card-gift card-prevent-open card-outline no-shadow card card-expandable">
            <div class="card-content">
                <div style="background-color:#EFEFF4;height: 140px">
                    <div style="color:var(--f7-block-title-text-color) !important;" class="card-prevent-open card-header text-color-white display-block">
                        3 Month...
                        <br>
                        <small style="color:var(--f7-block-title-text-color);opacity: 0.7">Of Spotify Streaming</small>
                    </div>
                    <a href="#" class="link card-close card-opened-fade-in color-white" style="position: absolute; right: 15px; top: 15px">
                        <i class="icon f7-icons">xmark_circle_fill</i>
                    </a>
                </div>
                <div class="card-content-padding">
                    <p>List goes here!</p>
                </div>
            </div>
        </div>
         <div class="card-gift card-prevent-open card-outline no-shadow card card-expandable">
            <div class="card-content">
                <div style="background-color:#EFEFF4;height: 140px">
                    <div style="color:var(--f7-block-title-text-color) !important;" class="card-prevent-open card-header text-color-white display-block">
                        5$...
                        <br>
                        <small style="color:var(--f7-block-title-text-color);opacity: 0.7">Amazon Gift-Card!</small>
                    </div>
                    <a href="#" class="link card-close card-opened-fade-in color-white" style="position: absolute; right: 15px; top: 15px">
                        <i class="icon f7-icons">xmark_circle_fill</i>
                    </a>
                </div>
                <div class="card-content-padding">
                    <p>List goes here!</p>
                </div>
            </div>
        </div>
    </div>
  </div>